@model DealCreationViewModel

@{
    ViewData["Title"] = "Crear Transacción";
}

<h1>Crear Transacción</h1>
<h5>
    Una transacción te permite indicar tus ingresos y gastos
</h5>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Create">
    <div class="mb-3">
        <label asp-for="DealDate" class="form-label"></label>
        <input asp-for="DealDate" class="form-control" />
        <span asp-validation-for="DealDate" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">Enviar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}